/* styles.css */

/** Login page styling **/

.login-page {
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: #f7f7f7;
    margin: 0;
}
.login-container {
    display: flex;
    width: 100%;
    background: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
.login-container .left-pane {
    flex: 1;
    background: #a5d6a7;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
}
.login-container .left-pane img {
    max-width: 80%;
    height: auto;
}
.login-container .right-pane {
    flex: 1;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.right-pane .header {
    text-align: center;
    margin-bottom: 30px;
}
.right-pane .header h2 {
    margin: 0;
}
.alert-warning {
    margin-bottom: 20px;
}

/** Homepage Styling **/

.card-img-top{
    width:80%;
    height:150px;
}
.homepageCard{
    padding-top:10px;
    height:275px;
}
.homepageCard .imageContainer{
    text-align: center;
}

.homepageCard a{
    text-decoration: none;
    color:black;
}
/** Global Styling **/

.card {
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: translateY(-10px);
}

.form-group{
    margin-bottom:10px;
}
.form-group label{
    margin-bottom:10px;
}

.upload-container {
    border: 2px dashed #ddd;
    border-radius: 8px;
    text-align: center;
    padding: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.upload-container:hover {
    background-color: #f7f7f7;
}
.upload-icon {
    font-size: 48px;
    color: #007bff;
}
.upload-text {
    font-size: 18px;
    margin-top: 10px;
}
.upload-container input[type="file"] {
    display: none;
}



/** Add Plant Page **/

.addPlantContainer{
    max-width: 600px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin-top:30px;
}


/** Cats Homepage **/

.cat_weight_chart{
    width:500px;
    margin-top:20px;
    box-shadow:3px 3px 6px rgba(0,0,0,0.3);
    padding:10px;
}

.cat-button.selected {
    background-color: #007bff;
    color: white;
}
.catPageContainer{
    width:90%;
    margin:auto;
}

.cat_weight_widgets{
    display:flex;
    justify-content: space-around;

}

.cat_weight_table{
    width:400px;
    margin-top:20px;
    box-shadow:3px 3px 6px rgba(0,0,0,0.3);
    padding:10px;
    text-align:center;
    margin-left:20px;
}

.cat-btn.selected {
    background-color: #007bff;
    color: white;
}